@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to the Add-in</title>
</head>
<body>
    <div>
        Welcome on the Add-in
    </div>
</body>
</html>
