@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to the sample Web app</title>
    @Styles.Render("~/css")
</head>
<body class="ms-font-m ms-bgColor-themePrimary">
    <div class="loader-container">
        <img src="~/Content/loader.gif" />
    </div>
    <div id="app-container" ng-controller="GlobalController as globalCtrl" style="display:none">
        <div ui-view="main"></div>
        <div class="bottom-info">
            <p>This sample has been created by <a target="_blank" href="https://keluro.com">Keluro</a>.</p>
            <p>Help us maintaining it on <a target="_blank" href="https://github.com/Keluro/Office365-AddinWeb-SignInSample">Github repository</a></p>
        </div>
    </div>
    @if (ViewBag.IsOfficeModule)
    {
        <script>window.hasOfficeContext = true;</script>
    }

    @Scripts.Render("~/js")
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/bower_components/system.js/dist/system.js"></script>
    <script type="text/javascript" src="~/ClientApps/config.js"></script>
  
    @if (ViewBag.IsOfficeModule)
    {
        <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
        <script>
            Office.initialize = function (reason) {
                System.import('bootstrapWeb.js');
            }
            window.hasOfficeContext = true;
        </script>
    }
    else
    {
        <script>
            System.import('bootstrapWeb.js');
        </script>
    }
</body>
</html>
