
body {
    text-align: center;
    padding: 10px;
    color: white !important;
}

a{
    color: white !important;
}


.connect-btn{
    margin-top: 20px;
}

.bottom-info{
    margin-top: 100px;
}