<div>
    <p>Welcome on the web app: {{ globalCtrl.emailFromServer }}</p>
    <p>You are logged-in !</p>
</div>
<div class="ms-Button"
     ng-click="globalCtrl.clickSignout()"
     ng-show="globalCtrl.showSignOut">
    <span class="ms-Button-label">Sign Out</span>
</div>
<div>
    <p>This sample has been created by <a href="https://keluro.com">Keluro</a>.</p>
    <p>Help us maintaining it on <a href="https://github.com/Keluro/Office365-AddinWeb-SignInSample">Github repository</a></p>
</div>